.vs/*
Library/*
Temp/*
obj/*
Library/*
Library/assetDatabase3
Library/InspectorExpandedItems.asset
Library/metadata/00/00000000000000004000000000000000
Library/metadata/00/00000000000000006100000000000000
Library/metadata/13/13efc7f2b76f19648aa76f8b8716fece
Library/metadata/5e/5ea2710089e3fd54a949c8d28ab3a1f4
Library/metadata/8a/8aa57ca07b63dac43a845db09e0f5c2e
Library/metadata/ab/abc2674cc8e7d474aaf3e2f9ba4ddb7e.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
